@import "./vars.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--text-color);
}