@import "./vars.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--text-color);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 0 130px 0;
}

.header-logo__link {
  text-decoration: none;
}

.header-logo {
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: var(--main-color);
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0 0 3px 0;
}

.nav-list__item {
  list-style: none;
}

.nav-list__item:not(:last-child) {
  margin-right: 58px;
}

.nav-list__link {
  display: block;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s linear;
  position: relative;
}

.nav-list__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);
  margin-top: 12px;
}

.nav-list__link:hover {
  color: var(--accent-color);
}

.nav-list__link:hover::after {
  display: block;
} 







/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}