@import "./vars.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--text-color);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 0 130px 0;
}

.header-logo__link {
  text-decoration: none;
}

.header-logo {
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: var(--main-color);
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0 0 3px 0;
}

.nav-list__item {
  list-style: none;
}

.nav-list__item:not(:last-child) {
  margin-right: 58px;
}

.nav-list__link {
  display: block;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s linear;
  position: relative;
}

.nav-list__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);
  margin-top: 12px;
}

.nav-list__link:hover {
  color: var(--accent-color);
}

.nav-list__link:hover::after {
  display: block;
} 

/* service */
.section__pretitle {
  font-family: var(--pretitle-font);
  font-size: 24px;
  margin: 0 0 20px 0;
  color: var(--title-color);
  text-align: center;
}

.section__title {
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 66px 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
}

.section__title::after {
  display: block;
  content: "";
  width: 60px;
  border-bottom: 3px solid var(--accent-color);
  margin: 40px auto 0;
}


.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.service-list__item {
  position: relative;
  top: 0;
  left: 0;
  list-style: none;
  flex: 0 1 380px;
  padding: 0 0 0 80px;
}

.service-list__item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 0 0 0 24px;
}

.service-list__item:nth-child(1)::before {
  background-image: url(../img/icons/clock.png);
}

.service-list__item:nth-child(2)::before {
  background-image: url(../img/icons/graph.png);
}

.service-list__item:nth-child(3)::before {
  background-image: url(../img/icons/pc.png);
}

.service-list__item:nth-child(4)::before {
  background-image: url(../img/icons/book.png);
}

.service-list__item:nth-child(5)::before {
  background-image: url(../img/icons/home.png);
}

.service-list__item:nth-child(6)::before {
  background-image: url(../img/icons/square.png);
}

.service-list__item:not(:nth-last-child(-n+3)) {
  margin: 0 0 80px 0;
}

.service-item__title {
  font-family: var(--second-font);
  font-size: 14px;
  margin: 0 0 14px 0;
  color: var(--title-color);
  text-transform: uppercase;
}

.service-item__description {
  line-height: 24px;
  margin: 0;
}

/* team */
.team {
  padding: 90px 0 82px;
  border-bottom: 1px solid #e5e5e5;
}

.section__description {
  width: 980px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 90px;
}

.team__title {
  margin: 0 0 42px 0;
}


.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.team-list__item {
  list-style: none;
  cursor: pointer;
}

.team-list__item:hover .team-img {
  transform: translate(-10px,-10px);
  transition: var(--hover-transition);
}

.team-list__item:hover .team-img__overlay {
  display: block;
}

.team-img__wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 0 30px 0;
  background-color: var(--main-color);
}

.team-img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.social-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--overlay-gradient);
  justify-content: center;
  align-items: center;
}

.social-list__item {
  list-style: none;
}

.social-list__item:not(:last-child) {
  margin: 0 1px 0 0;
}

.social-list__link {
  display: block;
  padding: 14px;
  background-color: var(--icon-bg-color);
  outline: none; 
  transition: var(--hover-transition); 
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--main-color);
}


.social-list__link::after {
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__item:nth-child(1) .social-list__link::after {
  background-image: url(../img/icons/facebook.png);
}

.social-list__item:nth-child(2) .social-list__link::after {
  background-image: url(../img/icons/twitter.png);
}

.social-list__item:nth-child(3) .social-list__link::after {
  background-image: url(../img/icons/pinterest.png);
}

.social-list__item:nth-child(4) .social-list__link::after {
  background-image: url(../img/icons/instagram.png);
}

.team__name {
  font-family: var(--second-font);
  font-size: 14px;
  margin: 0 0 10px 0;
  color: var(--title-color);
  text-align: center;
  text-transform: uppercase;
}


.team__position {
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  margin: 0;
}





/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}