@import 'var.css';
@import 'fonts.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--text-color);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-logo,
.nav-list,
.section-title,
.section-title__description,
.services-list,
.services-item__title,
.services-item__description {
  margin: 0;
}

.section-title {
  font-family: var(--title-font);
  font-size: 40px;
  line-height: 75px;
  letter-spacing: -0.025em;
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}

.section-title__description {
  font-family: var(--title-desc-font);
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 78px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 102px 0;
}

.header-logo__link {
  text-decoration: none;
}

.header-logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 41px;
  letter-spacing: 0.05em;
  font-style: italic;
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 480px;
  padding: 0;
}

.nav-list__item {
  list-style: none;
}

.nav-list__link {
  font-family: var(--nav-font);
  font-size: 14px;
  line-height: 41px;
  color: var(--title-color);
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

/* services */
.services {
  padding-bottom: 112px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.services-list__item {
  list-style: none;
  width: 280px;
  text-align: center;
}

.services-item__title {
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 75px;
  letter-spacing: -0.025em;
  color: var(--title-color);
}

.services-item__title::before {
  display: block;
  width: 60px;
  height: 60px;
  content: '';
  background-repeat: no-repeat;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  margin: 0 auto;
  fill: var(--accent-color);
}

.icon-basket::before {
  background-image: url(../img/icons/icon-basket.svg);
  background-position: 7px 7px;
}

.icon-laptop::before {
  background-image: url(../img/icons/icon-laptop.svg);
  background-position: 6px 9px;
}

.icon-lock::before {
  background-image: url(../img/icons/icon-lock.svg);
  background-position: 12px 6px;
}

.services-item__description {
  line-height: 17px;
  letter-spacing: -0.025em;
}

/* contact */
.contact-wrapper {
  background-color: var(--title-color);
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  padding: 106px 0 114px;
}

.contact-title {
  line-height: 48px;
  color: var(--light-color);
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__item,
.form-textarea {
  font-family: var(--title-font);
  font-size: 14px;
  color: var(--placeholder-color);
  border: 1px solid #cccccc;
  padding: 12px 20px;
  color: var(--title-color);
  outline: none;
}

.form-input__item {
  width: 455px;
  border-radius: 2px;
}

.form-textarea {
  border-radius: 5px;
}

.form-input__item:valid,
.form-textarea:valid {
  border: 2px solid #008000;
}

.form-input__item:invalid,
.form-textarea:invalid {
  border: 2px solid #ff0000;
}

.form-input__item:not(:last-child) {
  margin-bottom: 28px;
}

.form-input__item::placeholder,
.form-textarea::placeholder {
  letter-spacing: -0.025em;
  color: var(--placeholder-color);
  text-transform: uppercase;
}

.form-button {
  display: block;
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--light-color);
  border: none;
  border-radius: 3px;
  background-color: var(--accent-color);
  padding: 24px 48px;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
}

.form-button:hover {
  background-color: #ffe17b;
}