:root {
  --accent-color: #fed136;
  --title-color: #222222;
  --text-color: #777777;
  --light-color: #ffffff;
  --placeholder-color: #bbbbbb;
  --main-font: 'RobotoSlabRegular', serif;
  --logo-font: 'leckerliOneRegular', cursive;
  --nav-font: 'montserratRegular', sans-serif;
  --title-font: 'montserratBold', sans-serif;
  --title-desc-font: 'zcoolXiaoweiRegular', serif;
}