html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555252;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* header */
.header-nav {
  padding: 37px 0 82px 0;
}

.header-logo {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.header-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.header-logo__link {
  text-decoration: none;
}

.header-logo__link:link {
  color: #555252;
}

.header-logo__link:visited {
  color: #555252;
}

.header-logo__link:active {
  color: #555252;
}

.header-menu {
  float: right;
  padding: 0;
  margin: 0;
}

.header-menu__item {
  list-style: none;
  float: left;
}

.header-menu__item:not(:last-child) {
  margin-right: 35px;
}

.header-menu__link {
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #0f0101;
}

.header-menu__link:hover,
.header-menu__link:focus {
  color: #1abc9c;
}

/* products */
.products {
  margin-bottom: 105px;
}

.products__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 92px 0;
}

.products__title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 0;
}

.products__list {
  padding: 0;
  margin: 0;
}

.products__list-item {
  float: left;
  width: 255px;
  list-style: none;
  background-color: #e9f0fd;
}

.products__list-item:hover .products__article-description {
  background-color: #1abc9c;
}

.products__list-item:hover .products__article-price {
  background-color: rgba(255, 255, 255, 0.44);
}

.products__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.products__list-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}

.products__img-wrap {
  height: 284px;
  margin: 0 auto;
}

.products__article-img {
  margin: 0 auto;
}

.products__article-description {
  display: block;
  background-color: #323232;
}

.products__article-title {
  float: left;
  width: 201px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.products__article-price {
  float: right;
  width: 54px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.02em;
  padding: 4px 12px;
  margin: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.44);
  text-transform: uppercase;
}

/* news */
.news__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 80px 0;
}

.news__title::after {
  content: "";
  display: block;
  width: 164px;
  border-bottom: 7px solid #1abc9c;
  margin: 32px auto 0;
}

.news__list {
  padding: 0;
  margin: 0 0 80px 0;
}

.news__item {
  float: left;
  width: 350px;
  list-style: none;
}

.news__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.news__img {
  margin-bottom: 10px;
}

.news-article__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
  margin: 0 0 24px 0;
}

.news-article__title::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 10px;
}

.news-article__description {
  line-height: 26px;
  letter-spacing: -0.02em;
  margin: 0 0 14px 0;
}

.news-article__button {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.02em;
  padding: 16px 40px;
  color: #fff;
  background-color: #4ec6ab;
  text-decoration: none;
  border-radius: 3px;
}

.news-article__button:hover,
.news-article__button:focus {
  background-color: #45b89f;
}