.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 15rem;
}

.logo__link {
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 700;
  color: var(--light-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 0.3rem;
}

.nav-list__item {
  list-style: none;
}

.nav-list__item:not(:nth-last-child(-n + 2)) {
  margin-right: 5.8rem;
}

.nav-list__item--cart {
  margin-right: 4.2rem;
}

.nav-list__link {
  display: block;
  font-family: var(--second-font);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--light-color);
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.nav-list__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  content: '';
  height: 0.3rem;
  width: 100%;
  background-color: var(--accent-color);
  margin-top: 1.2rem;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link:hover::after,
.nav-list__link:focus::after {
  display: block;
}

.cart-button,
.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-button:hover .icon-cart,
.search-button:hover .icon-search,
.cart-button:focus .icon-cart,
.search-button:focus .icon-search {
  fill: var(--accent-color);
}

.icon-cart,
.icon-search {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--light-color);
}
