.team {
  padding: 9rem 0 8.2rem;
  border-bottom: 1px solid #e5e5e5;
}

.section__description {
  width: 98rem;
  line-height: 2.4rem;
  text-align: center;
  margin: 0 auto 9rem;
}

.team__title {
  margin-bottom: 4.2rem;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.team-list__item {
  width: 38rem;
  list-style: none;
  cursor: pointer;
}

.team-list__item:hover .team-img {
  -webkit-transform: translate(-1rem, -1rem);
  -ms-transform: translate(-1rem, -1rem);
  transform: translate(-1rem, -1rem);
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}

.team-list__item:hover .team-img__overlay {
  display: block;
}

.team-img__wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 3rem;
  background-color: var(--main-color);
}

.team-img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  background: var(--overlay-gradient);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__item {
  list-style: none;
}

.social-list__item:not(:last-child) {
  margin-right: 0.1rem;
}

.social-list__link {
  display: block;
  padding: 1.4rem;
  background-color: var(--accent-color);
  outline: none;
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--line-color);
}

.social-list__link::after {
  display: block;
  width: 2.6rem;
  height: 2.6rem;
  content: '';
}

.icon-facebook::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-facebook-view);
}

.icon-twitter::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-twitter-view);
}

.icon-pinterest::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-pinterest-view);
}

.icon-instagram::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-instagram-view);
}

.social-list__item:hover .icon-facebook::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-facebook--white-view);
}

.social-list__item:hover .icon-twitter::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-twitter--white-view);
}

.social-list__item:hover .icon-pinterest::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-pinterest--white-view);
}

.social-list__item:hover .icon-instagram::after {
  background-image: url(../../img/icons/icons-sprite.svg#icon-instagram--white-view);
}

.team__name {
  font-family: var(--second-font);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--title-color);
  text-align: center;
  text-transform: uppercase;
}

.team__position {
  font-weight: 300;
  font-style: italic;
  line-height: 2.4rem;
  text-align: center;
}
